version: '3.7'

services:
  nginx:
    restart: unless-stopped
#    ports:
#      - '127.0.0.1:9000:80'

  wordpress:
    restart: unless-stopped

  mysql:
    restart: unless-stopped

#  phpmyadmin:
#    image: phpmyadmin/phpmyadmin
#    depends_on:
#      - mysql
#    ports:
#      - "127.0.0.1:9001:80"
#    restart: unless-stopped
#    environment:
#      PMA_HOST: mysql
#      PMA_USER: root
#      PMA_PASSWORD: secret
